<main class="container-fluid">
    <section class="container">
      <h2 class="text-center my-4">Welcome to Add Task</h2>
        <div class="row my-4">
            <form class="col-12 col-md-10 col-lg-8 mx-auto p-4 border border-round" [formGroup]="todoForm" (ngSubmit)="taskIncCounter(todoForm.value)">
              <div class="form-group my-3">
                    <label class="fw-bold my-2"><i class="fa-solid fa-users me-2"></i>UserName</label>
                    <input type="text" class="form-control" placeholder="UserName" maxlength="100" minlength="3"
                    [class.is-invalid]="todoForm.get('username')?.invalid && todoForm.get('username')?.touched &&todoForm.get('username')?.dirty" 
                    formControlName="username">
                    <div *ngIf="todoForm.get('username')?.invalid && todoForm.get('username')?.touched && todoForm.get('username')?.dirty">
                      <small class="text-danger" *ngIf="todoForm.get('username')?.errors?.['required']">Title is Require </small>
                      <small class="text-danger" *ngIf="todoForm.get('username')?.errors?.['pattern']">User Name must be only letters </small>
                      <small class="text-danger" *ngIf="(todoForm.get('username')?.errors?.['maxlength'] || todoForm.get('username')?.errors?.['minlength'])">must be number of chrachter (3-100) </small>
                    </div>
                  </div>
                <div class="form-group my-3">
                    <label class="fw-bold my-2"> <i class="fa-solid fa-book-open-reader me-2"></i>Title Task</label>
                    <input type="text" class="form-control" placeholder="Title Task" formControlName="title" maxlength="100" minlength="3"
                    [class.is-invalid]="todoForm.get('title')?.invalid && todoForm.get('title')?.touched && todoForm.get('title')?.dirty">
                    <div *ngIf="todoForm.get('title')?.invalid && todoForm.get('title')?.touched && todoForm.get('title')?.dirty">
                      <small class="text-danger" *ngIf="todoForm.get('title')?.errors?.['required']">Title is Require </small>
                      <small class="text-danger" *ngIf="todoForm.get('title')?.errors?.['pattern']">User Name must be only letters </small>
                      <small class="text-danger" *ngIf="(todoForm.get('title')?.errors?.['maxlength'] || todoForm.get('title')?.errors?.['minlength'])">must be number of chrachter (3-100) </small>
                    </div>
                  </div>
                <div class="form-group my-3">
                    <label class="fw-bold my-2"><i class="fa-solid fa-image me-2"></i>Image</label>
                    <input type="file" class="form-control" placeholder="Your Image" formControlName="image"
                    [class.is-invalid]="todoForm.get('image')?.invalid && todoForm.get('image')?.touched && todoForm.get('image')?.dirty">
                    <div *ngIf="todoForm.get('image')?.invalid && todoForm.get('image')?.touched && todoForm.get('image')?.dirty">
                      <small class="text-danger" *ngIf="todoForm.get('image')?.errors?.['required']">Title is Require </small>
                      <small class="text-danger" *ngIf="todoForm.get('image')?.errors?.['pattern']">must be (png | jpg | gif) </small>
                    </div>
                  </div>
                  <div class="form-group my-3">
                    <label class="fw-bold my-2"><i class="fa-solid fa-envelope me-2"></i>Content</label>
                    <textarea class="form-control" rows="5" name="Content" placeholder="Your Content" formControlName="content"
                    maxlength="255" minlength="10" [class.is-invalid]="todoForm.get('content')?.invalid && todoForm.get('content')?.touched && todoForm.get('content')?.dirty"></textarea>
                    
                    <div *ngIf="todoForm.get('content')?.invalid && todoForm.get('content')?.touched && todoForm.get('content')?.dirty">
                      <small class="text-danger" *ngIf="todoForm.get('content')?.errors?.['required']">Content is Require </small>
                      <small class="text-danger" *ngIf="todoForm.get('content')?.errors?.['minlength'] || todoForm.get('image')?.errors?.['maxlength'] ">must be (10-255) cherachter </small>
                    </div>
                  </div>
                  <div class="form-group my-3">
                      <label class="fw-bold my-2"><i class="fa-solid fa-question me-2"></i>Status</label>
                      <select class="form-control custom-select" formControlName="completed">
                        <option selected value="false">false</option>
                        <option value="true"  >true</option>
                      </select>
                      <small class="text-danger" *ngIf="todoForm.get('completed')?.errors?.['required'] && todoForm.get('content')?.invalid && todoForm.get('content')?.touched && todoForm.get('content')?.dirty"
                      >Status is Require </small>
                    </div>
                <div class="form-group my-3 d-flex flex-column flex-md-row">
                  <button class="btn btn-success m-2" type="submit" [disabled]="todoForm.invalid" ><i class="fa-solid fa-plus  me-2"></i>Add Task</button>
                  <button class="btn btn-danger m-2" [disabled]="!num" (click)="taskDecCounter()">Remove Task</button>
                  <button class="btn btn-primary m-2 position-relative"><a class="nav-link" routerLink="/home"><i class="fa-solid fa-clipboard-list"
                    [class.fa-bounce]="animate" [class]="colorAnimate && animate ?'text-danger':'' " ></i></a>
                    <span *ngIf="counter" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success"
                     >{{counter}}</span>
                  </button>
                </div>
            </form>
        </div>
    </section>
</main>